@model GalleryDomain.Model.Country

@{
    ViewData["Title"] = "Видалення";
}
<div class="margin_top_50"></div>

<div>
    <h4>Сторінка видалення</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form id="deleteForm" asp-action="Delete" method="post" data-return-url="@Url.Action("Index")">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалення" class="btn btn-danger" /> |
        <a asp-action="Index">Всі країни</a>
    </form>
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/deleteConfirmed.js"></script>
}
